# This is to install some useful CLI tools on Raspbian v11 (Bullseye)
# It might work with other versions of Raspbian, but it is not guaranteed

# Update the package list
RUN sudo apt update --yes

# Install selected packages
RUN sudo apt-get install --yes screen tmux mc iotop iftop htop nload nmon ioping iotop sysstat atop dstat
