# This is to configure user shell on Raspbian v11 (Bullseye)

# Add aliases
echo "alias q='exit'" >> .bash_aliases
echo "alias cls='clear'" >> .bash_aliases
echo "alias scr='screen -r'" >> .bash_aliases
echo "alias l='ls -a'" >> .bash_aliases
echo "alias ll='ls -alh'" >> .bash_aliases
echo "alias cdd='cd ~ && ls -alh'" >> .bash_aliases
echo "alias cdp='cd projects && ls -alh'" >> .bash_aliases

# Add default directories
mkdir projects